{% extends 'base.html.twig' %}

{% block title %}jouter un Référant{% endblock %}

{% block body %}
<div class="container-fluid">
        <div class="row">
                <div class="col-md-4">
                        <p class="align-left">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown"
                                        aria-haspopup="true" aria-expanded="false">
                                        MENU
                                    </button>
                                    <div class="dropdown-menu dropdown-menu-right">
                                        <a href="{{path('agency_home')}}" class="nolien"><button class="dropdown-item" type="button">Accueil</button></a>
                                        <a href="{{path('listCompany')}}" class="nolien"><button class="dropdown-item" type="button">Liste des comptes clients</button></a>
                                        <a href="{{path('addCompany')}}" class="nolien"><button class="dropdown-item" type="button">Nouveau client</button></a>
                                        <button class="dropdown-item" type="button">Something else here</button>
                                    </div>
                                </div>
                            </p>
                </div>
                <div class="col-md-5">
                        <h3>Ajouter un référant pour la société : {{ nomCompany }}</h3>

                        <p>
                                {{ form_start(form) }}
                                {{ form_row(form.username, {'label': 'Nom d\'utilisateur','attr': {'placeholder': 'Votre pseudo...','class': 'form-control form-control-sm'}}) }}
                                {{ form_row(form.email,{'label': 'Adresse Email','attr': {'placeholder': 'Votre email...','class': 'form-control form-control-sm'}}) }}
                                {{ form_row(form.password,{'label': 'Mot de passe (8 caract. mini.)','attr': {'placeholder': 'Votre Mot de passe...','class': 'form-control form-control-sm'}}) }}
                                {{ form_row(form.confirm_password,{'label': 'Confirmation mot de passe','attr': {'placeholder': 'Confirmer mot de passe...','class': 'form-control form-control-sm'}}) }}
                                <button type="submit" class="btn btn-success" id="submit-registration">Inscription</button>
                                {{ form_end(form) }}
                        </p>
                </div>
                <div class="col-md-3">

                </div>
        </div>

</div>

{% endblock %}