{% extends 'base.html.twig' %}

{% block title %}AJUTER UN COMPTE CLIENT{% endblock %}

{% block body %}
<div class="container-fluid">
        <div class="row">
                <div class="col-md-4">
                        <p class="align-left">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown"
                                        aria-haspopup="true" aria-expanded="false">
                                        MENU
                                    </button>
                                    <div class="dropdown-menu dropdown-menu-right">
                                        <a href="{{path('agency_home')}}" class="nolien"><button class="dropdown-item" type="button">Accueil</button></a>
                                        <button class="dropdown-item" type="button">Liste des comptes clients</button>
                                        <button class="dropdown-item" type="button">...</button>
                                        <button class="dropdown-item" type="button">Something else here</button>
                                    </div>
                                </div>
                            </p>
                </div>
                <div class="col-md-4">
                    <h2>Ajouter un compte client</h2>
                    {% if form is defined %}
                    <p>
                        {{ form_start(form) }}
                        {{ form_row(form.name,{'label': 'Nom de la société','attr': {'placeholder':'Société','class':'form-control form-control-sm'}})}}   
                        
                        {{ form_row(form.hasreferant) }}
                        <button type="submit" class="btn btn-success submit-form">Ajouter</button>
                        {{ form_end(form) }}
                    </p>
                    {% endif %}
                </div>
                <div class="col-md-4">
                  
                    
                    
                </div>
        </div>
</div>

{% endblock %}