{% extends 'base.html.twig' %}

{% block body %}

<div class="container-fluid">
        <div class="row">
                <div class="col-md-12">
                        {% if company is defined %}
                            <pre>
                                {{ dump(company) }}
                            </pre>
                        
                        {% endif %}
                        {% if stagiaire is defined %}
                            <pre>
                                {{ dump(stagiaire) }}
                            </pre>
                        {% endif %}
                           
                    </div>
            </div>
</div>

{% endblock %}