{% extends 'base.html.twig' %}

{% block title %}ADMIN AGENCE{% endblock %}

{% block body %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-4">
            <p class="align-left">
                <div class="btn-group">
                    <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        MENU
                    </button>
                    <div class="dropdown-menu dropdown-menu-right">
                        <a href="{{path('manageCompany')}}" class="nolien"><button class="dropdown-item" type="button">Gestion sociétés</button></a>
                       <a href="{{ path('security_registration') }}" class="nolien"><button class="dropdown-item" type="button">Ajout utilisateur</button></a>
                      <a href="{{ path('medias_home') }}" class="nolien"><button class="dropdown-item" type="button">Gestion Médias</button></a>
                    </div>
                </div>
            </p>
        </div>
        <div class="col-md-4">
            <p class="align-center"><h3>Administration Agence</h3></p>

                   			
        </div>
        <div class="col-md-4">

        </div>
    </div>
</div>



   
   

{% endblock %}
