{% extends 'base.html.twig' %}

{% block body %}
<div class="container-fluid">
	<div class="row">
	
		<div class="col-md-3">
                <p class="align-left">
                        <div class="btn-group">
                            <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false">
                                MENU
                            </button>
                            <div class="dropdown-menu dropdown-menu-right">
                                <a href="{{path('agency_home')}}" class="nolien"><button class="dropdown-item" type="button">Accueil</button></a>
                                <a href="{{path('listCompany')}}" class="nolien"><button class="dropdown-item" type="button">Liste des comptes clients</button></a>
                                <a href="{{ path('security_registration') }}" class="nolien"><button class="dropdown-item" type="button">Ajout utilisateur</button></a>
                                <a href="{{path('addCompany')}}" class="nolien"><button class="dropdown-item" type="button">Nouveau client</button></a>
                                <button class="dropdown-item" type="button">Something else here</button>
                            </div>
                        </div>
                    </p>
		</div>
		
		<div class="col-md-4">
			
			<div class="table-responsive rounded" id="box-list-users-societe">
                    <table class="table table-bordered">
                            <thead class="thead-light">
                                <tr>
                                    <td class="table-dark" scope="col" colspan="6" align="center"><h3>Liste Stagiaire société : {{ nomCompany }}</h3></td>
                                </tr>
                                <tr class="table-info">
                                    <td scope="col" colspan="6" align="center">
                                        <button type="button" class="btn btn-outline-primary" id="add-stagiaire-for-company">Ajouter un stagiaire</button>
                                        <button type="button" class="btn btn-outline-danger" id="del-stagiaire-for-company">Supprimer un stagiaire</button>
                                    </td>
                                </tr>
                                
                               
                                <tr>
                                    <th scope="col">Nom</th>
                                    <th scope="col">Prénom</th>
                                    <th scope="col">pseudo</th>
                                    <th scope="col">Email</th>
                                    <th scope="col">Groupe</th>
                                    <th scope="col">Actif</th>
                                    
                                </tr>
                            </thead>
                            <tbody>
                                    {% if listUsers is defined %}
                                        {% for user in listUsers %}
                                            {% for role in user.roles %}
                                                 {% if role == 'ROLE_ADMIN' and user.isstudent == FALSE %}
                                                    <tr class="bg-dark">
                                                        <td class="table-danger">{{ user.nom }}</td>
                                                        <td class="table-danger">{{ user.prenom }}</td>
                                                        <td class="table-danger">{{ user.username }}</td>
                                                        <td class="table-danger">{{ user.email }}</td>
                                                        <td class="table-danger">NON</td>
                                                        <td class="table-danger">X</td>
                                                       
                                                    </tr>
                                                {% elseif role == 'ROLE_USER' and user.isstudent == TRUE %}
                                                <tr class="bg-dark">
                                                        <td class="table-dark">{{ user.nom }}</td>
                                                        <td class="table-dark">{{ user.prenom }}</td>
                                                        <td class="table-dark">{{ user.username }}</td>
                                                        <td class="table-dark">{{ user.email }}</td>
                                                        <td class="table-dark">X</td>
                                                        <td class="table-dark">X</td>
                                                     
                                                </tr>
                                                 {% endif %}
                                            {% endfor %}

                                        {% endfor %}
                                    {% endif %}

                            </tbody>

                    </table>

            </div>
          		
		</div>
		<div class="col-md-5">
                    {% if errorForm == true %}
                    <div class="alert alert-danger" role="alert" id="bloc-error-add-stagiaire">
                            {{ errorMessage }}
                          </div>
                    {% endif %}
                    
                <div class="container" id="ajout-user-for-company">
                        <div class="row justify-content-end">
                                <div class="card text-center">
                                        <div class="card-header">
                                                AJOUT STAGIAIRE
                                        </div>
                                        <div class="card-body">
                                                <h5 class="card-title">Société {{ nomCompany }}</h5>
                                                <p class="card-text">
                                                        {{ form_start(form) }}
                                                        {{ form_widget(form) }}
                                                        {{ form_end(form) }}

                                                     
                                                </p>
                                        </div>
                                        <div class="card-footer text-muted">
                                                <button type="button" class="btn btn-primary" id="close-register-stagiaire-for-company">FERMER</button>
                                         </div>
                                </div>    
                        
                       
                       
                        </div>
                </div>
                <div  id="remove-user-for-company">
                   
                   
                        <div class="mx-auto">
                                <button type="button" class="close" aria-label="Close" id="btn-close-supp-stag">
                                        <span aria-hidden="true">&times;</span> 
                                </button>
                             <h4>Supprimer un stagiaire</h4>
                        <br>
                            <form method="POST" name="formremove" action="{{ path('removeStudentFromCompany',{'company':companyId}) }}">
                                    <div class="form-group">
                                            <label for="sel-remove-stagiaire">Séléctionnez le stagiaire</label>
                                            {% if listUsers is defined %}
                                                <select class="form-control" id="sel-remove-stagiaire" name="stagiaireId">
                                                        {% for user in listUsers %}
                                                    <option value="{{ user.id }}">{{ user.prenom }} {{ user.nom }}</option>
                                                  
                                                        {% endfor %}
                                                </select>
                                            {% endif %}

                                    </div>
                                    <button type="submit" class="btn btn-warning">Supprimer</button>
                            </form>
                            
                            
                            
                        </div>  
                            
                    

                   
                </div>
               
		</div>
	</div>

</div>



{% endblock %}