{% extends 'base.html.twig' %}

{% block title %}Liste Sociétés{% endblock %}

{% block body %}
<div class="container-fluid">
        <div class="row">
                <div class="col-md-4">
                        <p class="align-left">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown"
                                        aria-haspopup="true" aria-expanded="false">
                                        MENU
                                    </button>
                                    <div class="dropdown-menu dropdown-menu-right">
                                        <a href="{{path('agency_home')}}" class="nolien"><button class="dropdown-item" type="button">Accueil</button></a>
                                        <button class="dropdown-item" type="button">Liste des comptes clients</button>
                                        <a href="{{path('addCompany')}}" class="nolien"><button class="dropdown-item" type="button">Nouveau client</button></a>
                                        <button class="dropdown-item" type="button">Something else here</button>
                                    </div>
                                </div>
                            </p>
                </div>
                <div class="col-md-4">
                   
                        <div class="table-responsive rounded" id="box-list-societes">
                                <table class="table table-bordered table-hover">
                                        <thead class="thead-light">
                                            <tr>
                                                <td class="table-dark" scope="col" colspan="3" align="center"><h3>LISTE SOCIETES</h3></td>
                                            </tr>
                                            <tr>
                                                <th scope="col">SOCIETES</th>
                                                <th  scope="col" colspan="2">REFERANTS</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% if list is defined %}
                                               {% for societe in list %}
                                                   <tr class="bg-dark">
                                                        <td class="table-dark">{{ societe.name }}</td>
                                                        <td class="table-dark">
                                                            {% if societe.hasreferant == true %}
                                                            <b>OUI</b>
                                                            {% else %}
                                                                <b>NON</b>
                                                            {% endif %}
                                                        </td>
                                                        <td class="table-dark">
                                                                {% if societe.hasreferant == true %}
                                                                    <a href="{{ path('viewProfilRef',{'company_ref':societe.id }) }}" class="nolien"><button type="button" class="btn btn-info">Voir</button></a>
                                                                    
                                                                {% else %}
                                                                   <a href="{{ path('addReferant',{'company':societe.id }) }}" class="nolien"> <button type="button" class="btn btn-success">Ajouter</button></a>
                                                             
                                                                                                                                   
                                                                {% endif %}
                                                        </td>
                                                   </tr>
                                               {% endfor %}
                                            {% endif %}
                                            
                                        </tbody>

                                </table>

                        </div>
                </div>
                <div class="col-md-4">

                    {% if viewProfilRef == TRUE %}

                    <div class="card text-center" id="box-profil-referant">
                            <div class="card-header">
                                    PROFILE REFERANT
                            </div>
                            <div class="card-body">
                                    <h5 class="card-title">Société {{ profilRef.company.name }}</h5>  
                                    <p class="card-text">Pseudo (username) : <b>{{ profilRef.username }}</b></p> 
                                    <p class="card-text">Email : <b>{{ profilRef.email }}</b></p>
                                    <p class="card-text">Nom : <b>{{ profilRef.nom }}</b></p>
                                    <p class="card-text">Prénom : <b>{{ profilRef.prenom }}</b></p>
                                  <a href="{{ path('listStudCompany',{'company':profilRef.company.id}) }}"  class="nolien"> <button type="button" class="btn btn-outline-info">Liste stagiaires</button></a>
                            </div>
                            <div class="card-footer text-muted">
                                   <button class="btn btn-primary" id="close-profil-ref">FERMER</button>
                            </div>
                    </div>

                    
                    {% endif %}
                    


                
                    
                </div>
        </div>

</div>

{% endblock %}