{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }} - Gestion Utilisateurs{% endblock %}
{% block header parent() %}
{% block body %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-4">
            <p class="align-left">
            <div class="btn-group">
                <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                    MENU
                </button>
                <div class="dropdown-menu dropdown-menu-right">
                    <a href="{{ path('security_registration') }}" class="nolien"><button class="dropdown-item" type="button">Ajout utilisateur</button></a>
                </div>
            </div>
            </p>
        </div>
        <div class="col-md-4">
            <div class="text-center">
                <h2>Gestion utilisateurs</h2>
            </div>
        </div>
        <div class="col-md-4"></div>
    </div>
</div>
{% endblock %}





