{% extends 'base.html.twig' %}

{% block title %}Company managment{% endblock %}

{% block body %}
<div class="container-fluid">
        <div class="row">
                <div class="col-md-4">
                        <p class="align-left">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown"
                                        aria-haspopup="true" aria-expanded="false">
                                        MENU
                                    </button>
                                    <div class="dropdown-menu dropdown-menu-right">
                                        <a href="{{path('agency_home')}}" class="nolien"><button class="dropdown-item" type="button">Accueil</button></a>
                                        <a href="{{path('listCompany')}}" class="nolien"> <button class="dropdown-item" type="button">Liste des comptes clients</button></a>
                                        <a href="{{path('addCompany')}}" class="nolien"><button class="dropdown-item" type="button">Nouveau client</button></a>
                                        <button class="dropdown-item" type="button">Something else here</button>
                                    </div>
                                </div>
                            </p>
                </div>
                <div class="col-md-4">
                        <h2>Gestion Sociétés</h2>
                </div>
                <div class="col-md-4">

                </div>
        </div>

</div>

{% endblock %}