{% extends 'base.html.twig' %}

{% block body %}
<div class="container-fluid">
   		<div class="row">
   			<div class="col-md-4">
{#        			<div class="demo-container">#}
{#                			<div class="list-container">#}
{#               			  <div id="simpleList"></div>#}
{#                			 </div>#}
{#        			</div>#}
   			</div>
   			<div class="col-md-8">
   			 <h1>{{ title }}</h1>
   			</div>
   		</div>
   	</div>
{% endblock %}