html {
	width: 100%;
	margin: 0px;
}

header {
	position: relative;
	width: 100%;
	display: inline-block;
	padding-top: 2%;
	/*background-image: radial-gradient(circle at top left, #FFFFFF 10%, #F6CECE);*/
	color: #000000;
	padding-bottom: 1em;
}
#box-profil-referant{
	margin-top: 10%;
	margin-left: 30%;
}
#box-list-societes {
	margin-top: 10%;
	
}
#box-list-users-societe {
	position: relative;
	display: inline-block;
	width: 200%;
	margin-top: 10%;
	margin-left: -40%;
}
#ajout-user-for-company{
	position: relative;
	display: none;
	margin-top: 10%;
	margin-left: 20%;
}
#bloc-error-add-stagiaire{
	margin-top: 10%;
	margin-left: 20%;
}
a.nolien:link {
	text-decoration:none; 
}

#user-connected {
	position: relative;
	display: inline-block;
	background-image: radial-gradient(circle at top left, #FFFFFF 15%, #F6CECE );
	margin-top: -3%;
	margin-bottom: 4%;
	margin-right: 2%;
	margin-left: 5%;
	padding: 1em 1em 1em 1em;
	border-radius: 8px;
	width: 100%;
	height: auto;
	color: #000000;

}
#remove-user-for-company {
	position: relative;
	display: none;
	width:65%;
	background-image: radial-gradient(circle at top left, #F6CECE, #FFFFFF 45%);
	
	height: 60%;
	padding-left: 10%;
	padding-right: 10%;
	padding-top: 1em;
	padding-bottom: 1em;
	margin-left: 60%;
	margin-top: 10%;
	border: 1px solid black;
	border-radius: 8px;
}
#content-del-stag{
	
	justify-content:center;
}
#form_submit{
	margin-top: 1em;
}
#add-type-media-card{
	margin-top: 10%;
	margin-bottom: 10%;
}
.description-pdf{
	margin-left: 10%;
}
.marge-body{
	margin-top: 10%;
	margin-left: 13%;
}
#content-youtube{
	margin-top: 1em;
	margin-bottom: 1em;
	border: 5px solid red;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
}
#btn-close-supp-stag {
	
	float: right;
	margin-right: -10%;
}
#nav-bar-stock {
	background-image: radial-gradient(circle at top left, #FFFFFF 20%, #000000);
	border: 1px solid black;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
}
#list-medias{
	margin-top: 10%;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
}
#list-links {
	margin-top: 10%;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
}
#form-add-doc-linked {
	border: 2px solid black;
	border-radius: 8px;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;

}
.nostock {
	color: black;
}
#tbl-list-medias{
	border: 3px solid black;
}
#tbl-list-links{
	border: 3px solid black;
}
.radio-registration{
	position: relative;
	display: inline-block;
	margin-left: 3em;
	padding-left:  5em;
	padding-right: 1em;
}
#registration_isstudent_1{
	margin-left: 1em;
}
#bloc-connection {
	position: relative;
	display: inline-block;
	width: 100%;
	margin-top: 7%;
	margin-right: 20%;

}

#but-login {
	position: relative;
	display: inline-block;
	margin-right: 1em;
}

#but-create-compte {
	position: relative;
	display: inline-block;
	margin-left: 1em;
}

/*TUTO TITI */
#maBoite {
	position: relative;
	display: none;
	background: #152757;
	color: #BAE01C;
	width: auto;
	height: auto;
	border: 3px solid #E0771C;
	border-radius: 8px;
	padding: 2em;
}

#submit-registration {
	margin-top: 1em;
}
.submit-form {
	margin-top: 1em;
}
.add-ref{
	margin-top: 0.5em;
}
.form {
	margin-left: 3px;
}

.form>div:first-child {
	margin-right: 320px;
}

.label {
	font-size: 22px;
}

#product-details {
	width: 400px;
	height: 400px;
	margin: 20px auto 0;
}

#product-details>img {
	height: 300px;
	width: 400px;
}

#product-details>.name {
	text-align: center;
	font-size: 20px;
}

#product-details>.price {
	text-align: center;
	font-size: 24px;
}

.dark #product-details>div {
	color: #f0f0f0;
}

.options {
	padding: 20px;
	position: absolute;
	bottom: 0;
	right: 0;
	width: 260px;
	top: 0;
	background-color: rgba(191, 191, 191, 0.15);
}

.caption {
	font-size: 18px;
	font-weight: 500;
}

.option {
	margin-top: 10px;
}

.hidden {
	visibility: hidden;
}