{% extends 'base.html.twig' %}

{% block title %}Ajout PDF{% endblock %}

{% if formUpload is defined %}
    {% form_theme formUpload 'bootstrap_4_layout.html.twig' %}
{% endif %}

{% block body %}
    <div class="container-fluid">
        <div class="row">

            <div class="col-md-4">
                <p class="align-left">
                <div class="btn-group">
                    <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                        MENU
                    </button>
                    <div class="dropdown-menu dropdown-menu-right">
                        <a href="{{ path('agency_home') }}" class="nolien"><button class="dropdown-item" type="button">Accueil</button></a>
                        <a href="{{ path('medias_home') }}" class="nolien"><button class="dropdown-item" type="button">Gestion médias</button></a>
                        <a href="{{ path('security_registration') }}" class="nolien"><button class="dropdown-item" type="button">Ajout utilisateur</button></a>
                        <a href="{{ path('manageCompany') }}" class="nolien"><button class="dropdown-item" type="button">Gestion sociétés</button></a>
                    </div>
                </div>
                </p>

            </div>

            <div class="col-md-4">
                <h3>Ajouter un PDF</h3>

                {{ form_start(formUpload) }}
                <div class="custom-file">
                    {{ form_row(formUpload.documentFile) }}
                </div>
                <input type="hidden" name="typeM" value="file"/>
                {{ form_row(formUpload.submit, {'attr': {'class' : 'btn btn-success'}}) }}
                {{ form_end(formUpload) }}
            </div>

            <div class="col-md-4">

            </div>

        </div>

    </div>


{% endblock %}