{% extends 'base.html.twig' %}


{% block title %}Ajout Media{% endblock %}



{% block body %}
<div class="container-fluid">
        <div class="row">
                <div class="col-md-4">
                        <p class="align-left">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown"
                                        aria-haspopup="true" aria-expanded="false">
                                        MENU
                                    </button>
                                    <div class="dropdown-menu dropdown-menu-right">
                                        <a href="{{ path('agency_home') }}" class="nolien"><button class="dropdown-item" type="button">Accueil</button></a>
                                        <a href="{{ path('medias_home') }}" class="nolien"><button class="dropdown-item" type="button">Gestion médias</button></a>
                                       <a href="{{ path('security_registration') }}" class="nolien"><button class="dropdown-item" type="button">Ajout utilisateur</button></a>
                                       <a href="{{ path('manageCompany') }}" class="nolien"><button class="dropdown-item" type="button">Gestion sociétés</button></a>
                                    </div>
                                </div>
                            </p>

                </div>
                <div class="col-md-4">
                    

                    
                    <div class="card text-center" id="add-type-media-card">
                            <div class="card-header">
                                    <h3>Ajouter Médias</h3>
                            </div>
                            <div class="card-body">
                              <h5 class="card-title">Quel type de média voulez-vous ajouter ?</h5>
                              <!-- <p class="card-text">With supporting text below as a natural lead-in to additional content.</p> -->
                              <form method="post" action="{{ path('choice_media') }}">
                                <button type="submit" class="btn btn-primary" name="typeM" value="pdf" >Fichier PDF</button>
                                <button  type="submit" class="btn btn-primary" name="typeM" value="link">Lien</button>
                              </form>
                            </div>
                            <div class="card-footer text-muted">
                              
                            </div>
                    </div>


                     
                                
                     


                </div>
                <div class="col-md-4">

                    
                    
                    
                    
                </div>

        </div>

</div>


{% endblock %}