{% extends 'base.html.twig' %}

{% block title %}Ajout Lien médias{% endblock %}

{% if form is defined %}
    {% form_theme form 'bootstrap_4_layout.html.twig' %}
{% endif %}



{% block body %}
<div class="container-fluid">
    <div class="text-center mt-2">
        <div class="col-md-12">

            <nav class="navbar navbar-expand-md navbar-dark bg-dark mt-2" id="nav-bar-stock">
                <div class="container navbar-nav">
                    <div class="navbar-collapse">
                        <ul class="navbar-nav">
                            <li class="nav-item">
                                <a href="{{ path('agency_home') }}" class="nav-link">Admin accueil</a>
                            </li>
                            <li class="nav-item">
                                <a href="{{ path('medias_home') }}" class="nav-link">Gestion médias</a>
                            </li>
                            <li class="nav-item">
                                <a href="{{ path('choice_media') }}" class="nav-link">Ajouter un média</a>
                            </li>
                            <li class="nav-item">
                                <a href="{{ path('listmedias') }}" class="nav-link">Stock médias</a>
                            </li>

                        </ul>
                    </div>
                </div>
            </nav>
        </div>

    </div>
    <div class="row">

        <div class="col-md-4"></div>


        <div class="col-md-4">

            <div class="card-text-center mt-3 mb-3" id="form-add-doc-linked">
                <div class="card-header">
                    <h5 class="card-title">
                        {% if creation == true %}
                        Ajouter un lien vidéo
                        {% else %}
                        Modifier un lien vidéo
                        {% endif %}
                    </h5>
                </div>
                <div class="card-body">
                    {{ form_start(form) }}
                    {{ form_row(form.type) }}
                    {{ form_row(form.name) }}
                    {{ form_row(form.link) }}
                </div>
                <div class="card-footer">
                    <div class="text-right">
                        <button type="submit" class="btn btn-outline-primary">Ajouter</button>
                        <a href="{{ path('choice_media') }}" class="btn btn-secondary">Retour</a>
                    </div>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
        <div class="col-md-4">

        </div>
    </div>
</div>
{% endblock %}



