{% extends 'base.html.twig' %}

{% block title %}CONFIRMATION UPLOAD{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="text-center mt-2">
            <div class="col-md-12">
                <h2>MEDIAS STOCK</h2>
                <nav class="navbar navbar-expand-md navbar-dark bg-dark mt-2" id="nav-bar-stock">
                    <div class="container navbar-nav">
                        <div class="navbar-collapse">
                            <ul class="navbar-nav">
                                <li class="nav-item">
                                    <a href="{{ path('agency_home') }}" class="nav-link">Admin accueil</a>
                                </li>
                                <li class="nav-item">
                                    <a href="{{ path('medias_home') }}" class="nav-link">Gestion médias</a>
                                </li>
                                <li class="nav-item">
                                    <a href="{{ path('choice_media') }}" class="nav-link">Ajouter un média</a>
                                </li>
                                <li class="nav-item">
                                    <a href="{{ path('listmedias') }}" class="nav-link">Stock médias</a>
                                </li>

                            </ul>
                        </div>
                    </div>
                </nav>
            </div>

        </div>
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4">
                {% if message is defined and message is not null %}
                <div class="card text-center" id="add-type-media-card">
                    <div class="card-header">
                        <h3>Confirmation upload</h3>
                    </div>
                    <div class="card-body">
                        <div class="alert alert-success" role="alert">
                            <p> Félicitation le PDF est enregistré !</p>
                            {{ message }}
                            <p>
                                <a href="{{ path('view_pdf',{'pdf': id}) }}" class="nolien"><img src="{{ asset('images/pdf.png') }}" height="15%" width="15%">Voir </a>

                            </p>
                        </div>
                    </div>
                    <div class="card-footer text-muted">
                        <div class="alert alert-primary" role="alert">
                           <p>
                            <a href="{{ path('add_pdf') }}">
                                <button type="button" class="btn btn-info">Ajouter un autre PDF</button>
                            </a>
                           </p>
                            <p>
                            <a href="{{ path('choice_media') }}">
                                <button type="button" class="btn btn-info">Ajouter un autre médias</button>
                            </a>
                            </p>
                            <p>
                                <a href="{{ path('medias_home') }}">
                                    <button type="button" class="btn btn-primary">Accueil gestion médias</button>
                                </a>
                            </p>
                        </div>
                    </div>
                </div>

                {% endif %}
            </div>
            <div class="col-md-4"></div>
        </div>
    </div>


{% endblock %}