{% extends 'base.html.twig' %}

{% block title %}ERROR UPLOAD{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="row">

            <div class="col-md-4">

            </div>
            <div class="col-md-4">

                <h3>ERREUR DE TRANSFERT</h3>

                {% if errors is defined and errors is not null %}
                <div class="alert alert-warning" role="alert">
                   Attention ! :


                    {% for error in errors %}
                       <li>{{ error.message }}</li>
                    {% endfor %}

                    <p>
                        <a href="{{ path('add_pdf') }}">
                            <button type="button" class="btn btn-primary">Réessayer</button>
                        </a>

                    </p>
                </div>
                {% endif %}
            </div>
            <div class="col-md-4">
            </div>
        </div>

    </div>



{% endblock %}