{% extends 'base.html.twig' %}

{% block title %}Gestion Medias{% endblock %}

{% block body %}


<div class="container-fluid">
        <div class="row">
                <div class="col-md-4">
                        <p class="align-left">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown"
                                        aria-haspopup="true" aria-expanded="false">
                                        MENU
                                    </button>
                                    <div class="dropdown-menu dropdown-menu-right">
                                        <a href="{{ path('agency_home') }}" class="nolien"><button class="dropdown-item" type="button">Accueil</button></a>
                                        <a href="{{ path('choice_media') }}" class="nolien"><button class="dropdown-item" type="button">Ajouter un médias</button></a>
                                        <a href="{{ path('listmedias') }}" class="nolien"><button class="dropdown-item" type="button">Liste médias</button></a>
                                        <a href="{{ path('security_registration') }}" class="nolien"><button class="dropdown-item" type="button">Ajout utilisateur</button></a>
                                       <a href="{{ path('manageCompany') }}" class="nolien"><button class="dropdown-item" type="button">Gestion sociétés</button></a>
                                    </div>
                                </div>
                            </p>

                </div>
                <div class="col-md-4">
                <h3>Gestion Médias</h3>
                </div>
                <div class="col-md-4"></div>
    
        </div>
  
</div>
{% endblock %}
