{% extends 'base.html.twig' %}

{% block title %}MEDIAS LIST{% endblock %}
{% block header parent() %}


{% block body %}
    <div class="container-fluid">

        <div class="row">

            <div class="col-md-6">

                <div class="table-responsive ml-2" id="list-medias">
                    <table class="table table-dark table-bordered table-striped" id="tbl-list-medias" >
                        <thead>
                            <tr class="bg-primary">
                                <td colspan="5" align="center"><b>LISTE PDF STOCK</b></td>
                            </tr>
                            {% if nbPdf > 0 %}
                             <tr>
                                 <td colspan="5" align="center">
                                     Quantité : {{ nbPdf }}
                                 </td>
                             </tr>
                            <tr class="bg-light">
                                <td colspan="5" align="center">
                                    <a href="{{ path('add_pdf') }}" class="btn btn-primary">Ajouter un PDF</a>
                                </td>
                            </tr>

                             <tr>
                                 <th scope="col">Type</th>
                                 <th scope="col">Fichier</th>
                                 <th scope="col">Date Upload</th>
                                 <th scope="col">Voir</th>
                                 <th scope="col">Suppression</th>
                                 
                                     
                                 </th>
                             </tr>
                        </thead>
                        <tbody>

                            {% for media in list_pdf %}

                                <tr class="bg-primary">
                                    <td>PDF</td>
                                    <td>{{ media.name }}</td>
                                    <td>{{ media.updateAt|date('d/m/Y h:i', 'Europe/Paris') }}</td>
                                    <td width="15%">
                                        <a href="{{ path('view_pdf', { 'pdf' : media.id }) }}">
                                            <img src="{{ asset('images/icone_pdf.ico') }}" height="64px" width=64px" />
                                        </a>
                                    </td>
                                    <td>
                                        <a href="{{ path('delete_pdf_file',{'pdf': media.id }) }}" class="btn btn-danger">Supprimer</a>

                                    </td>
                                </tr>
                            {% endfor %}
                         {% else %}
                             <tr>
                                 <td class="table-light" colspan="5" align="center">
                                    <p class="nostock"> PAS DE PDF ACTUELLEMENT</p>
                                 </td>
                             </tr>
                        {% endif %}
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="col-md-6 mb-3 ">
                <div class="table-responsive" id="list-links">
                    <table class="table table-dark table-bordered table-striped" id="tbl-list-links">
                        <thead>
                        <tr class="bg-success">
                            <td colspan="6" align="center">
                                <b>LISTE DES LIENS EN STOCK</b>
                            </td>
                        </tr>
                        {% if nbLinks > 0 %}
                            <tr>
                                <td colspan="5" align="center">Quantité : {{ nbLinks }}</td>
                            </tr>
                            <tr class="bg-light">
                                <td colspan="6" align="center">
                                    <a href="{{ path('add_doc_linked') }}" class="btn btn-success">Ajouter un Lien</a>
                                </td>
                            </tr>
                            <tr>
                                <th scope="col" width="75px">Type</th>
                                <th scope="col">Nom</th>
                                <th scope="col">Date Upload</th>
                                <th scope="col">Voir</th>
                                <th scope="col">Editer</th>
                                <th scope="col">Supression</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for link in list_links %}
                                <tr>
                                {% if link.type == 'pdflink' %}

                                    <td class="bg-success" width="75px" >LIEN PDF</td>
                                    <td class="bg-success">{{ link.name }}</td>
                                    <td class="bg-success">{{ link.updateAt|date('d/m/Y','Europe/Paris') }}</td>
                                    <td class="bg-success">
                                        <a href="{{ link.link }}" target="_blank">
                                            <img src="{{ asset('images/icone_pdf.ico') }}" alt="Lien PDF" width="64px" height="64px" />
                                        </a>
                                    </td>
                                    <td class="bg-success" align="center" width="75px">
                                        <a href="{{ path('add_doc_linked',{'id': link.id }) }}" class="btn btn-dark">Editer</a>
                                    </td>
                                    <td class="bg-success" align="center" width="90px">
                                        <a href="{{ path('delete_link',{'id': link.id }) }}" class="btn btn-danger">Supprimer</a>
                                    </td>
                                 {% else %}

                                     <td class="table-danger nostock" width="75px">LIEN VIDEO</td>
                                     <td class="table-danger nostock">{{ link.name }}</td>
                                     <td class="table-danger nostock">{{ link.updateAt|date('d/m/Y','Europe/Paris') }}</td>
                                     <td class="table-danger" align="center" width="75px">
                                        <a href="{{ path('view_link',{'id': link.id}) }}">
                                            <img src="{{ asset('images/icone_youTube.ico') }}" alt="Lien YouTube" width="64px" height="64px" />
                                        </a>
                                     </td>
                                     <td class="table-danger nostock" align="center" width="75px">
                                         <a href="{{ path('add_doc_linked',{'id': link.id }) }}" class="btn btn-dark">Editer</a>
                                     </td>
                                     <td class="table-danger nostock" align="center" width="90px">
                                         <a href="{{ path('delete_link',{'id': link.id }) }}" class="btn btn-danger">Supprimer</a>
                                     </td>
                                {% endif %}

                                </tr>

                            {% endfor %}
                        {% endif %}
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>
{% endblock %}