{% extends 'base.html.twig' %}
{% block title %}TEST MEDIA{% endblock %}

{% block body %}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">

            {% if data is defined %}
                <pre>
                    {{ dump(data) }}
                </pre>
                <pre>
                    <pre>
                        {{ dump(fichier) }}
                       
                    </pre>
                </pre>
            {% endif %}
            

        </div>
        <div class="col-md-4"></div>
    </div>

</div>

{% endblock %}