{% extends 'base.html.twig' %}
{% block title %}
VIEW LINK
{% endblock %}

{% block header parent() %}
{% block body %}
<nav class="navbar navbar-expand-md navbar-dark bg-dark mt-2">
    <div class="container navbar-nav">
        <div class="navbar-collapse">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a href="{{ path('medias_home') }}" class="nav-link">Gestion médias</a>
                </li>
                <li class="nav-item">
                    <a href="{{ path('listmedias') }}" class="nav-link">Liste médias</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8" id="content-youtube">
              <p  align="center">
                  Lien : <b>{{ link.name }}</b>
              </p>

              <p align="center">

                <iframe src="{{ link.link }}" frameborder="5px" width="700px" height="394px" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
              </p>
                    {#{{ dump(link) }}#}

            </div>
            <div class="col-md-2"></div>
        </div>

    </div>
{% endblock %}



