{% extends 'base.html.twig' %}

{% block title %}PDF VIEW{% endblock %}

{% block body %}
<div class="container-fluid">
    <div class="text-center mt-2">
        <div class="col-md-12">
            <nav class="navbar navbar-expand-md navbar-dark bg-dark mt-2" id="nav-bar-stock">
                <div class="container navbar-nav">
                    <div class="navbar-collapse">
                        <ul class="navbar-nav">
                            <li class="nav-item">
                                <a href="{{ path('agency_home') }}" class="nav-link">Admin accueil</a>
                            </li>
                            <li class="nav-item">
                                <a href="{{ path('medias_home') }}" class="nav-link">Gestion médias</a>
                            </li>
                            <li class="nav-item">
                                <a href="{{ path('choice_media') }}" class="nav-link">Ajouter un média</a>
                            </li>
                            <li class="nav-item">
                                <a href="{{ path('listmedias') }}" class="nav-link">Stock médias</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>

    </div>
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-10">
            <div class="media" id="add-type-media-card">
                 <embed src="{{ asset(file) }}" width="700" height="800" type="application/pdf" />
                <div class="media-body">
                    <p class="description-pdf">
                        {{ description }}
                    </p>
                </div>
            </div>
        </div>
        </div>
    </div>
</div>
{% endblock %}