{% extends 'base.html.twig' %}
{% block title %}
ADD USERS
{% endblock %}
{% block body %}
<div class="container-fluid">

    <div class="row">

        <div class="col-md-4"></div>
        <div class="col-md-4">
            <div class="text-center">
                <h2>Ajouter des participants</h2>

            </div>

            <div class="text-center mt-3">
                Groupe : <b>{{ groupName }}</b><br>
                Liste : <b>{{ nameList }}</b>
            </div>
            <form method="post"  class="mt-3">
                <label for="sel-pax"><cite>Séléctionner un utilisateur de la société {{ companyName }}</cite></label>
                <select class="custom-select" name="id-pax" id="sel-pax">
                    {% for user in companyUsers %}
                        <option value="{{ user.id }}">{{ user.nom }} {{ user.prenom }}</option>
                    {% endfor %}
                </select>
                <div class="text-right">
                    <button type="submit" class="btn btn-outline-primary mt-2">Ajouter</button>
                </div>
            </form>

        </div>
        <div class="col-md-4"></div>
    </div>
</div>
{% endblock %}



