{% extends 'base.html.twig' %}
{% block title %}Confirmation creation liste{% endblock %}
{% block header parent() %}
{% block body %}

<div class="container-fluid">

    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <h2>Confirmation creation liste</h2>
        </div>
        <div class="col-md-4"></div>
    </div>
</div>
{% endblock %}



