{% extends 'base.html.twig' %}
{% block title %}Liste Stagiaires{% endblock %}
{% block header parent() %}

{% block body %}

<div class="container-fluid">

    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <h2>Créer une liste de participants</h2>
            {{ form_start(form) }}
            {{ form_row(form.namelist) }}
            {{ form_row(form.company) }}
            <div class="text-right">
                <button type="submit" class="btn btn-outline-primary">Créer</button>
            </div>
            {{ form_end(form) }}
        </div>
        <div class="col-md-4"></div>
    </div>
</div>
{% endblock %}



