{% extends 'base.html.twig' %}
{% block title %}
CREATE GROUP
{% endblock %}
{% block body %}
<div class="container-fluid">

    <div class="row">

        <div class="col-md-4"></div>
        <div class="col-md-4">
            <h2>Créer une session de formation</h2>
            {% if list is not null and company is not null %}
            <p class="text-center">
            <cite>La liste <b>{{ list.namelist }}</b> pour la société <b>{{ company }}</b> y sera rattachée.</cite>
            </p>
            {% endif %}
            {{ form_start(form) }}
            {{ form_row(form.theme) }}
            {{ form_row(form.name) }}
            {{ form_row(form.datedebut) }}
            {{ form_row(form.datefin) }}
            <div class="text-right">
                <button type="submit" class="btn btn-outline-dark">Ajouter des Stagiaires</button>
            </div>
            {{ form_end(form) }}
        </div>
        <div class="col-md-4"></div>
    </div>
</div>
{% endblock %}



