{% extends 'base.html.twig' %}

{% block body %}
<div class="container-fluid">
	<div class="row">
		<div class="col-md-4">
		
		</div>
		<div class="col-md-4">
			<h2>Connexion</h2>
			
			
				 {% if error %}
			  <div class="alert alert-danger">
			  {{ error.messageKey | trans(error.messagedata, 'security') }}
			  {{ error }}
			  </div>
			{% endif %}
			
			<form action="{{ path('security_login') }}" method="post">
				<div class="form-group">
					<input placeholder="Adresse email" required name="_username" type="text" class="form-control" value="{{ last_username }}">
				</div>
				<div class="form-group">
					<input placeholder="Mot de passe" required name="_password" type="password" class="form-control">
				</div>
				<div class="form-group">
					<button type="submit" class="btn btn-success">Connexion</button>
				</div>
			</form>
			
		</div>
		<div class="col-md-4">
		
		</div>
	</div>
</div>


{% endblock %}