{% extends 'base.html.twig' %}

{% block body %}
<div class="container-fluid">
	<div class="row">
	
		<div class="col-md-4">
		
		</div>
		
		<div class="col-md-4">
			<h2>Inscription</h2>
			
			<p>
				{{ form_start(form) }}
				{{ form_row(form.username, {'label': 'Pseudo','attr': {'placeholder': 'Votre pseudo...','class': 'form-control form-control-sm'}}) }}
				{{ form_row(form.email,{'label': 'Adresse Email','attr': {'placeholder': 'Votre email...','class': 'form-control form-control-sm' }}) }}
				{{ form_row(form.nom,{'label' : 'Nom','attr' : {'placeholder' : 'Votre Nom...','class' : 'form-control form-control-sm' } })}}
				{{ form_row(form.prenom,{'label' : 'Prénom','attr' : {'placeholder' : 'Votre Prénom...','class' : 'form-control form-control-sm' } })}}
				{{ form_row(form.password,{'label': 'Mot de passe (8 caract. mini.)','attr': {'placeholder': 'Votre Mot de passe...','class': 'form-control form-control-sm'}}) }}
				{{ form_row(form.confirm_password,{'label': 'Confirmation mot de passe','attr': {'placeholder': 'Confirmer mot de passe...','class': 'form-control form-control-sm'}}) }}
				{{ form_row(form.company,{'attr':{'class':'form-control form-control-sm'}}) }}
				{{ form_row(form.isstudent,{'attr':{'class':'form-check radio-registration'}})}}
				<button type="submit" class="btn btn-success" id="submit-registration">Inscription</button>
				{{ form_end(form) }}
			</p>
		
		</div>
		<div class="col-md-4">
		
		</div>
	</div>

</div>



{% endblock %}