<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html" charset="utf-8">
    <title>{% block title %}SELT{% endblock %}</title>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://bootswatch.com/4/cosmo/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">          <link rel="stylesheet" type="text/css" href="https://cdn3.devexpress.com/jslib/18.2.7/css/dx.common.css" />
    <link rel="stylesheet" type="text/css" href="https://cdn3.devexpress.com/jslib/18.2.7/css/dx.carmine.css" />
    <link  rel="stylesheet" type="text/css" href="{{ asset('css/global.css') }}">
    {% block stylesheets %}{% endblock %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
    <script type="text/javascript" src="{{ asset('js/eventsLog.js') }}"></script>
</head>
<body>

{% block header %}

    <header>
        <div class="container-fluid">
            <div class="text-center mt-2">
                <div class="col-md-12">

                    <nav class="navbar navbar-expand-md navbar-light bg-light mt-2 mb-4" id="nav-bar-stock">
                        <div class="container navbar-nav">
                            <div class="navbar-collapse">

                                <img alt="SELT" src="{{ asset('images/selt_logV2.png') }}" height="40%" width="30%" />



                                <ul class="navbar-nav">
                                    <li class="nav-item">
                                    </li>
                                    <li class="nav-item">
                                        <a href="{{ path('medias_home') }}" class="nav-link">Gestion médias</a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="{{ path('manageCompany') }}" class="nav-link">Gestion Sociétés</a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="{{ path('manageUsers') }}" class="nav-link">Gestion Utilisateurs</a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="{{ path('formations_home') }}" class="nav-link">Gestion Formations</a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="#" class="nav-link mr-5"></a>
                                    </li>
                                    <li class="nav-item">
                                        {% if not app.user %}
                                            <a href="{{ path('security_registration') }}"><button type="button" class="btn btn-outline-secondary mb-3" id = "but-create-compte">Créer un compte</button></a>
                                            <a href="{{ path('security_login') }}" class="btn btn-dark">Connexion</a>
                                        {% else %}
                                            <a href="{{ path('security_logout') }}" class="btn btn-dark">Déconnexion</a>
                                        {% endif %}
                                    </li>

                                </ul>
                                <ul class="navbar-nav">
                                    <li class="nav-item ml-5">
                                        {% if app.user %}
                                            <span class="badge badge-info pl-2 pr-2"><h6>Ustilisateur connecté : {{ app.user.username }}</h6></span>
                                            {% if is_granted('ROLE_SUPER_ADMIN') %}

                                                <p class="mt-3">
                                                    <a href="" class="btn btn-outline-primary">Accueil Admin</a>
                                                </p>
                                            {% endif %}
                                        {% endif %}
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </nav>

                </div>

            </div>


            {#<div class="row">#}
            {#<div class="col-md-4">#}
            {#<img alt="SELT" src="{{ asset('images/selt_logV2.png') }}" height="80%" width="60%">#}
            {#</div>#}
            {#<div class = "col-md-4"></div>#}


            {#<div class="col-md-4">#}
            {#<div id="user-connected">#}

            {#<div class  = "btn-group" role="group">#}
            {#{% if not app.user %}#}
            {#<a href="{{ path('security_login') }}"><button type="button" class="btn btn-outline-secondary" id="but-login">Connexion</button></a>#}
            {#<!-- <a href="{{ path('security_registration') }}"><button type="button" class="btn btn-outline-secondary" id = "but-create-compte">Créer un compte</button></a>   -->#}
            {#<!-- <a href="{{ path('security_logout') }}"><button type="button" class="btn btn-outline-secondary" id = "but-deconnect">Déconnexion</button></a>   -->#}

            {#{% else %}#}
            {#<a href="{{ path('security_logout') }}"><button type="button" class="btn btn-outline-secondary" id="but-deconnect">Déconnexion</button></a>#}
            {#{% endif %}#}



            {#{% if app.user %}#}
            {#<p class="align-center"></p>#}
            {#<h4><span class="badge badge-dark">Utilisateur connect&#233; : {{ app.user.username }}</span></h4>#}

            {#{% if is_granted('ROLE_SUPER_ADMIN') %}#}

            {#<a href="{{ path('agency_home') }}"> <button type="button" class="btn btn-outline-warning">Admin</button></a>#}
            {#{% endif %}#}
            {#{% if role is defined %}#}
            {#<b>STATUT : {{ role }}</b>#}
            {#{% endif %}#}

            {#{% endif %}#}

            {#</div>#}
            {#</div>#}
            {#</div>#}

            {#</div>#}
        </div>

    </header>
{% endblock %}

<div class="container">
    {% for type, messages in app.session.flashBag.all %}
        {% for message in messages %}
            {% if type == 'error' %}
                {% set type = 'danger' %}
            {% endif %}
            <div class="alert alert-{{ type }} mt-2">
                {{ message|raw }}
            </div>

        {% endfor %}
    {% endfor %}
</div>

{% block body %}


{% endblock %}

{% block javascripts %}{% endblock %}
</body>
</html>
